[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pylru = "*"

[dev-packages]
opencv-python-headless = "*"
setuptools = "*"

[requires]
python_version = "3.10"
